{% extends "layout.html" %}

<style>
  .w-16{
    width: 10px;
      }
  .h-16{
    height: 10px;
      }

</style>

{% block body %} 
<hr>
<section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?company,office">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Trusted and Valuable
              <br class="hidden lg:inline-block"> All Industrial Solution 
            </h1>
            <p class="mb-8 leading-relaxed"> All Industrial Solution gives best quality Hygiene products for Companies, Officies,Schools, Colleges and Home .
              All Industrial Solution full fill their promises for each and every deal 
              and delivered product on certain time.We deals in all HouseKeeping items and materials in all qualities and price range.Thousands of companies and offices are satisfied and happy with us. </p>
            <div class="flex justify-center">
              <a href= "mailto: vision.official0119@gmail.com">
              <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-grey-600 rounded text-lg">Email Us</button>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <!-- <path d="M5 12h14M12 5l7 7-7 7"></path> -->
              </svg>
            </a>
              
              <a href=tel:8890638372>
              <button class="ml-4 inline-flex text-gray-700 bg-blue-200 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-300 rounded text-lg">Call Us
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
            </a>
            </div>
          </div>
        </div>
      </section>
    
      <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col">
            <div class="h-1 bg-gray-200 rounded overflow-hidden">
              <div class="w-24 h-full bg-indigo-500"></div>
            </div>
            <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
              <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">What Our Enterprise do</h1>
              <p class="sm:w-3/5 leading-relaxed text-base sm:pl-10 pl-0">Our Enterprise is considered as a prominent trader and supplier of a splendid range of housekeeping, Kitchen Care, Personal Care, Floor Care, Fabric Care, Infection Control, Integrated Pest Management, Cleaning Equipment Portfolio, etc.</p>
            </div>
          </div>
          <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/720x600/?house">
              </div>
              <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Home</h2>
              <p class="text-base leading-relaxed mt-2">In modern living style, we try to enhance hygiene in high rise residential projects as per the today's requirement .  variety of domestic situations such as hand hygiene, respiratory hygiene, food and water hygiene, general home hygiene .</p>
              <a class="text-indigo-500 inline-flex items-center mt-3">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/720x600/?office">
              </div>
              <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Office</h2>
              <p class="text-base leading-relaxed mt-2">Implementing proper work hygiene, you will be able to stop harmful viruses and bacteria from spreading all over the office, ensure a safe and healthy work environment, and reduce health risks for everyone.</p>
              <a class="text-indigo-500 inline-flex items-center mt-3">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
            <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
              <div class="rounded-lg h-64 overflow-hidden">
                <img alt="content" class="object-cover object-center h-full w-full" src="https://source.unsplash.com/720x600/?factory">
              </div>
              <h2 class="text-xl font-medium title-font text-gray-900 mt-5">Factory</h2>
              <p class="text-base leading-relaxed mt-2">factory hygiene is not just about factory structure, it is also about cleaning and disinfection, optimising air movements and training of personnel; all contribute to the ultimate goal - of maintaining a clean manufacturing environment.</p>
              <a class="text-indigo-500 inline-flex items-center mt-3">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="text-gray-700 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="{{ url_for('static', filename='images/profile.png') }}">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Company Profile</h1>
            <p class="mb-8 leading-relaxed">View complete company's profile by just clicking a button below.All about All industrial Solutions in the form of pdf and presentation</p>
            <div class="flex justify-center">
              <a href="https://drive.google.com/file/d/1Y3bWHwvVvEYWaOYSetyNm7yp8ilUP4Gy/view?usp=sharing">
                <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">pdf</button>
              </a>
              <a href="https://drive.google.com/file/d/1s3DhcdsX8ungW_IJuXdquI0HGl5ux3_e/view?usp=sharing">
                <button class="ml-4 inline-flex text-gray-700 bg-gray-200 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">ppt</button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our satisfied Clients</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">List of some companies mention below. we deals with more clients and satisfies them with all expects. our service and deal will definately satisfy you.</p>
          </div>
          <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='bestech.jpg') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Bestech</h2>
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='pcp.jpg') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">parkar PCP auto component pvt Ltd</h2>
                  <!-- <p class="text-gray-500">CTO</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='22.png') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Akash Optifiber</h2>
                  <!-- <p class="text-gray-500">Founder</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='bkt.png') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Bal krishna industries</h2>
                  <!-- <p class="text-gray-500">DevOps</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='hanon.png') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Hanon</h2>
                  <!-- <p class="text-gray-500">Software Engineer</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team" class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='images.jpg') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Jai Surgical Limited</h2>
                  <!-- <p class="text-gray-500">UX Researcher</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='logo.png') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">R.P Industries</h2>
                  <!-- <p class="text-gray-500">QA Engineer</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='dine.png') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Dinewell</h2>
                  <!-- <p class="text-gray-500">System</p> -->
                </div>
              </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
              <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                <img alt="team"  class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4" src="{{ url_for('static', filename='unnamed.jpg') }}">
                <div class="flex-grow">
                  <h2 class="text-gray-900 title-font font-medium">Ocap</h2>
                  <!-- <p class="text-gray-500">Product Manager</p> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

{% endblock %}


